<div class="container">
    <div class="top-bar">
        <!-- More -->
        <button class="top-bar__more d-none d-lg-block js-toggle" toggle-target="#navbar">
            <img src="./assets/icons/more.svg" alt="" class="top-bar__more-icon" />
        </button>

        <!-- Logo -->
        <a href="./" class="logo">
            <img src="./assets/icons/logo.svg" alt="Trang chu" class="logo__img" />
        </a>

        <!-- Navbar -->
        <nav id="navbar" class="navbar hide">
            <button class="navbar__close-btn js-toggle" toggle-target="#navbar">
                <img src="./assets/icons/arrow-left.svg" alt="" />
            </button>

            <ul class="navbar__list js-dropdown-list">
                <li class="navbar__item">
                    <a href="./LK.html" class="navbar__link"> Xã Long Khánh </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link"> Xã Đông Hải </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link"> Xã Long Vĩnh </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link"> Xã Đôn Xuân </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link"> Xã Đôn Châu </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link"> Xã Ngũ Lạc </a>
                </li>
            </ul>
        </nav>
        <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div>
    </div>
</div>
